body {
  margin: 0; }

div.accordion {
  background-color: #00C6D8;
  color: white;
  padding: 5px;
  width: 400px; }

h3 {
  background-color: #00C6D8;
  color: white; }

div.content {
  background-color: white;
  color: #4D4D4A; }

a {
  color: white;
  text-decoration: none; }
